$color-primary-light: #372554;
$color-primary-dark: #52528C;
$color-secondary-light: #3d5a80;
$color-secondary-dark: #98c1d9;

.university {
  border-radius: 2rem;
}

.background-student {
  background: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
}

.background-teacher {
  background: linear-gradient(to right bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8));
}