$color-primary-light: #95d5b2;
$color-primary-dark: #52b788;
$color-secondary-light: #6c757d;
$color-secondary-dark: #343a40;
$color-tertiary-light: #2d6a4f;
$color-tertiary-dark: #1b4332;

@mixin backgroundColor($color1, $color2) {
  background: linear-gradient(to right bottom, rgba($color1, 0.8), rgba($color2, 0.8));
}

@mixin cardStyle {
  border-radius: 1rem;
  max-width: 100%;
  margin-bottom: 3rem;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.03, 1.03);
    transition: all 0.5s;
  }
}

.heading {
  border-radius: 2rem;
}

.flexbox {
  display: flex;
}

.background-default {
  @include backgroundColor($color-primary-light,$color-primary-dark);
}

.background-custom {
  @include backgroundColor($color-primary-light,$color-primary-dark);
}

.defaultCard {
  @include cardStyle;
  @include backgroundColor($color-secondary-light,$color-secondary-dark);
}

.customCard {
  @include cardStyle;
  @include backgroundColor($color-tertiary-light,$color-tertiary-dark);
}

.button {
  margin-left: 12%;
  margin-right: 12%;
  border-radius: 1rem;
}

.hovering:hover {
  cursor: pointer;
  color: #7B6D8D;
}

.body {
  height: 100vh;
  padding: 4rem 8rem 10rem 4rem;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
  url(/background.jpg);

  background-size: cover;
  background-position: top;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .content {
    width: 55%;
    height: 100%;
    margin-left: 25%;
    padding: 1.5rem;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    animation: moveInLeft 1s ease-out;
  }
}